In [1]:
import pandas as pd

In [10]:
# !cat ./Admission_Predict.csv
# #

In [11]:
df=pd.read_csv('./Admission_Predict.csv')
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [23]:
df=pd.read_csv('./Admission_Predict.csv',index_col=0)
df.head()
# how can we update the data frame like add extra one

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65

In [27]:
new_df=df.rename(columns={'GRE Score':'GRE Score','TOEFL Score':'TOEFL Score','University Rating':'University Rating'})
new_df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65
6,330,115,5,4.5,3.0,9.34,1,0.90
7,321,109,3,3.0,4.0,8.20,1,0.75
8,308,101,2,3.0,4.0,7.90,0,0.68
9,302,102,1,2.0,1.5,8.00,0,0.50
10,323,108,3,3.5,3.0,8.60,0,0.45
11,325,106,3,3.5,4.0,8.40,1,0.52
12,327,111,4,4.0,4.5,9.00,1,0.84
13,328,112,4,4.0,4.5,9.10,1,0.78
14,307,109,3,4.0,3.0,8.00,1,0.62
15,311,104,3,3.5,2.0,8.20,1,0.61
16,314,105,3,3.5,2.5,8.30,0,0.54
17,317,107,3,4.0,3.0,8.70,0,0.66
18,319,106,3,4.0,3.0,8.00,1,0.65
19,318,110,3,4.0,3.0,8.80,0,0.63
20,303,102,3,3.5,3.0,8.50,0,0.62
21,312,107,3,3.0,2.0,7.90,1,0.64
22,325,114,4,3.0,2.0,8.40,0,0.70
23,328,116,5,5.0,5.0,9.50,1,0.94
24,334,119,5,5.0,4.5,9.70,1,0.95
25,336,119,5,4.0,3.5,9.80,1,0.97
26,340,120,5,4.5,4.5,9.60,1,0.94
27,322,109,5,4.5,3.5,8.80,0,0.76
28,298,98,2,1.5,2.5,7.50,1,0.44
29,295,93,1,2.0,2.0,7.20,0,0.46
30,310,99,2,1.5,2.0,7.30,0,0.54
...,...,...,...,...,...,...,...,...
371,310,103,2,2.5,2.5,8.24,0,0.72
372,324,110,3,3.5,3.0,9.22,1,0.89
373,336,119,4,4.5,4.0,9.62,1,0.95
374,321,109,3,3.0,3.0,8.54,1,0.79
375,315,105,2,2.0,2.5,7.65,0,0.39
376,304,101,2,2.0,2.5,7.66,0,0.38
377,297,96,2,2.5,2.0,7.43,0,0.34
378,290,100,1,1.5,2.0,7.56,0,0.47
379,303,98,1,2.0,2.5,7.65,0,0.56
380,311,99,1,2.5,3.0,8.43,1,0.71
381,322,104,3,3.5,4.0,8.84,1,0.78
382,319,105,3,3.0,3.5,8.67,1,0.73
383,324,110,4,4.5,4.0,9.15,1,0.82
384,300,100,3,3.0,3.5,8.26,0,0.62
385,340,113,4,5.0,5.0,9.74,1,0.96
386,335,117,5,5.0,5.0,9.82,1,0.96
387,302,101,2,2.5,3.5,7.96,0,0.46
388,307,105,2,2.0,3.5,8.10,0,0.53
389,296,97,2,1.5,2.0,7.80,0,0.49
390,320,108,3,3.5,4.0,8.44,1,0.76
391,314,102,2,2.0,2.5,8.24,0,0.64
392,318,106,3,2.0,3.0,8.65,0,0.71
393,326,112,4,4.0,3.5,9.12,1,0.84
394,317,104,2,3.0,3.0,8.76,0,0.77
395,329,111,4,4.5,4.0,9.23,1,0.89
396,324,110,3,3.5,3.5,9.04,1,0.82
397,325,107,3,3.0,3.5,9.11,1,0.84
398,330,116,4,5.0,4.5,9.45,1,0.91
399,312,103,3,3.5,4.0,8.78,0,0.67
400,333,117,4,5.0,4.0,9.66,1,0.95

In [29]:
cols=list(df.columns)
cols=[x.lower().strip() for x in cols]
df.columns=cols
df.head()

,gre score,toefl score,university rating,sop,lor,cgpa,research,chance of admit
Serial No.,,,,,,,,
1,337,118,4,4.5,4.5,9.65,1,0.92
2,324,107,4,4.0,4.5,8.87,1,0.76
3,316,104,3,3.0,3.5,8.00,1,0.72
4,322,110,3,3.5,2.5,8.67,1,0.80
5,314,103,2,2.0,3.0,8.21,0,0.65