In [3]:
import pandas as pd

In [7]:
students=["alice","jack","mollyy"]
pd.Series(students)

0     alice
1      jack
2    mollyy
dtype: object

In [12]:
numbers=[1,2,3]
pd.Series(numbers)
students=["alice","jack",None]
pd.Series(students)

0    alice
1     jack
2     None
dtype: object

In [14]:
numbers=[1,2,None]

pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [16]:
import numpy as np

In [18]:
np.nan==None
# this is not the same need to check deeper to know it is a number there or not

False

In [22]:
students_scores={'alice':'physics','jack':'checmostry','Molly':'English'}
s= pd.Series(students_scores)
s

alice       physics
jack     checmostry
Molly       English
dtype: object

In [24]:
s.index

Index(['alice', 'jack', 'Molly'], dtype='object')

In [28]:
studens=[('alice','brown'),('jack','white'),('molly','green')]
pd.Series(studens)

0    (alice, brown)
1     (jack, white)
2    (molly, green)
dtype: object

In [31]:
s= pd.Series(['pyhsics','chemistry','English'],index=['Alice','jack','molly'])
s

Alice      pyhsics
jack     chemistry
molly      English
dtype: object

In [36]:
students_scores={'alice':'physics','jack':'checmostry','Molly':'English'}
s=pd.Series(students_scores,index=['alice','jack','sam'])
s

alice       physics
jack     checmostry
sam             NaN
dtype: object

# querying series

In [40]:
# to query by numeric location, starting at zero, use iloc attribute. to query
#by the index label you can use the loc attribute

students_classes={'alice':'physics','jack':'checmostry','Molly':'English','sam':'hi'}
s= pd.Series(students_classes)
s

alice       physics
jack     checmostry
Molly       English
sam              hi
dtype: object

In [42]:
s.iloc[3]

'hi'

In [46]:
s.loc['Molly']

'English'

In [51]:
class_code={99:'pyhsics',100:'chemistry',101:'math',102:'history'}
s= pd.Series(class_code)
s

99       pyhsics
100    chemistry
101         math
102      history
dtype: object

In [54]:
s[99]

'pyhsics'

In [57]:
grades=pd.Series([90,80,70,60])
total=0
for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [60]:
np.sum(grades)/len(grades)

75.0

In [66]:
numbers=pd.Series(np.random.randint(0,1000,10000))
numbers.head

<bound method NDFrame.head of 0       769
1        98
2       950
3        39
4       231
       ...
9995     21
9996    753
9997    567
9998    961
9999    596
Length: 10000, dtype: int64>

In [71]:
%%timeit -n 100
total=0
for num in numbers:
    total+=num
total/len(numbers)

1.08 ms ± 3.86 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [73]:
%%timeit -n 100
total=np.sum(numbers)
total/len(numbers)

65.4 µs ± 2.88 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [75]:
# broadcasting
numbers.head()

0    769
1     98
2    950
3     39
4    231
dtype: int64

In [77]:
numbers+=2
numbers.head()

0    773
1    102
2    954
3     43
4    235
dtype: int64

In [81]:
for label,value in numbers.iteritems():
    numbers.set_value(label,value)
numbers.head()

0    773
1    102
2    954
3     43
4    235
dtype: int64

In [85]:
s=pd.Series([1,2,3])
s.loc["30"]=60
s

0      1
1      2
2      3
30    60
dtype: int64

In [87]:
students_classes={'alice':'physics','jack':'checmostry','Molly':'English','sam':'hi'}
s= pd.Series(students_classes)

In [93]:
kelly_class=pd.Series([1,2,3],index=['kelly','kelly',1])
kelly_class

kelly    1
kelly    2
1        3
dtype: int64

In [94]:
all_studetn_classes=s.append(kelly_class)
all_studetn_classes

alice       physics
jack     checmostry
Molly       English
sam              hi
kelly             1
kelly             2
1                 3
dtype: object